@using ikende.minicms.web.Core
@{
    Layout = "~/views/blog/blogmaster.cshtml";
}
  @foreach (ikende.minicms.web.Service.Model.Blog blog in Model.Blogs)
  {
    <div class="post">
		
		
		<!-- Begin Info -->
		<div class="info">
		<!-- Begin Date -->
		
		<!-- End Date -->
		
		<!-- Begin Meta -->
		<div class="meta">
			<h3 class="blog-title"><a href="/blog/@blog.ID">@blog.Title</a></h3>
			
			<div class="tags" style="padding-left:30px;padding-bottom:6px;">
                
                @foreach(ikende.minicms.web.Service.Model.BlogCategory cate in blog.Categories)
                {
                    <a href="?category=@cate.ID"> <span class="label label-default">@cate.Name (@cate.Blogs)</span></a>
                
                }
                  @if (ikende.minicms.web.Core.Utils.Loginer != null)
                {
                    <a href="/blogadmin/editor?id=@blog.ID"> <span class="label label-default">编辑</span></a>
                }
			</div>
		</div>
		<!-- End Meta -->
		</div>
		<div class="clear"></div>
		<!-- End Info -->
	<div class="blog-summary">
		@blog.Summary ...
		</div>
		</div>
      	<div class="clear"></div>
  }
	
		
		
	
		
	
	
		<!-- End Info -->
		
		
		  @RenderPage("~/Views/controls/pagebar.cshtml")
