@{
    int pageindex = Model.PageIndex;
    int spitindex = 0;
    int pagecount = Model.Pages;
}
@functions{
    public static string GetUrl(int index)
    {
        System.Collections.Specialized.NameValueCollection querystring = HttpContext.Current.Request.QueryString;
        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        sb.Append("?").AppendFormat("pageindex=" + index);
        foreach(string key in querystring.Keys)
        {
            if (key != "pageindex")
                sb.AppendFormat("&{0}={1}", key, HttpContext.Current.Server.UrlEncode(querystring[key]));
        }
        return sb.ToString();
    }
}
<style>
    .pagebar li
{
    border-style: solid solid solid none;
    border-width: 1px;
    border-color: #CCCCCC;
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;
    font-weight: normal;
    min-height:22px;
    float: left;
    text-align: center;
    display: block;
    min-width: 32px;
}
#pageinfo
{
      border-style: solid solid solid solid;
    border-width: 1px;
    border-color: #CCCCCC;
}
.pagebar a
{
    text-decoration: none;
    display: block;
    height: 26px;
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 4px;
}
.pagebar a:hover
{
    text-decoration: none;
    background-color: #3e747d;
    color: #FFFFFF;
     display: block;
}
</style>
<div class="pagebar">
    <ul>
    
    <li id="pageinfo"><a>@Html.Raw(pageindex + 1) / @pagecount</a></li>
        @if (pageindex > 0)
        {
            <li><a href="@GetUrl(pageindex-1)">Previous</a> </li>
        }
        @{ spitindex = pageindex - 2;}
        @if (spitindex > 4)
        {
            
            <li><a href="@GetUrl(0)">1</a> </li>
            <li><a href="@GetUrl(spitindex - 2)">...</a> </li>
        }
        else
        {
            for (int i = 0; i < spitindex; i++)
            {
            
            <li><a href="@GetUrl(i)">@Html.Raw(i + 1)</a> </li>

            }
        }
        @for (int i = pageindex - 2; i < pageindex; i++)
        {
            if (i >= pageindex || i < 0)
            {
                continue;
            }
            
            <li><a href="@GetUrl(i)">@Html.Raw(i+1)</a> </li>
            
        }
        <li><a id="selectpage"><b>@Html.Raw(pageindex+1)</b> </a></li>
        @for (int i = pageindex + 1; i < pagecount; i++)
        {
            if (i >= pageindex + 3)
            {
                break;
            }
                 
            <li><a href="@GetUrl(i)">@Html.Raw(i+1)</a> </li>
            
        }
        @{ spitindex = pageindex + 3; }
        @if (pagecount - 4 > spitindex)
        {
            <li><a href="@GetUrl(spitindex + 2)">...</a> </li>
            <li><a href="@GetUrl(pagecount - 1)">@pagecount</a> </li>
        }
        else
        {
            for (int i = spitindex; i < pagecount; i++)
            {
                    
            <li><a href="@GetUrl(i)">@Html.Raw(i+1)</a> </li>
            }
        }
        @if (pageindex != pagecount - 1)
        {
                      
            <li><a href="@GetUrl(pageindex + 1)">Next</a> </li>
            
        }
    </ul>
</div>
